.w-inline-block,
img {
  max-width: 100%;
  display: inline-block;
}
.hero-grid,
.w-layout-grid {
  -ms-grid-columns: 1fr 1fr;
  grid-template-columns: 1fr 1fr;
}
.w-nav-overlay,
svg:not(:root) {
  overflow: hidden;
}
.main-button,
.w-nav-brand,
a {
  text-decoration: none;
}
.button-text,
h1,
h2 {
  font-weight: 400;
}
.container-regular,
.navbar-no-shadow-container,
.w-container {
  margin-right: auto;
  margin-left: auto;
}
.footer-content-wrapper,
.hero-content,
.hero-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
}
#w-node-_3a48c09e-680a-e828-0136-98b7a83492d5-b32510f0,
#w-node-_3f5e80f9-0725-93a6-b240-20ce89098d9d-89098d7b,
#w-node-_468910fd-dfff-e87d-5928-2fced49c52bb-b32510f0 {
  -ms-grid-column: span 1;
  grid-column-start: span 1;
  -ms-grid-column-span: 1;
  grid-column-end: span 1;
  -ms-grid-row: span 1;
  grid-row-start: span 1;
  -ms-grid-row-span: 1;
  grid-row-end: span 1;
}
a {
  background-color: transparent;
  color: #94c2da;
}
a:active,
a:hover {
  outline: 0;
}
img {
  border: 0;
  vertical-align: middle;
}
* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
body {
  margin: 0;
  min-height: 100%;
  background-color: #000;
  font-family: segoe ui, segoe ui symbol;
  color: #fff;
  font-size: 16px;
  line-height: 20px;
}
.w-container {
  max-width: 940px;
}
.w-container:after,
.w-container:before,
.w-nav:after,
.w-nav:before {
  content: " ";
  display: table;
  -ms-grid-column: 1;
  grid-column-start: 1;
  -ms-grid-row: 1;
  grid-row-start: 1;
  -ms-grid-column-span: 1;
  grid-column-end: 2;
  -ms-grid-row-span: 1;
  grid-row-end: 2;
}
.w-container:after,
.w-nav:after {
  clear: both;
}
.w-nav {
  position: relative;
  background: #ddd;
  z-index: 1000;
}
.w-nav-brand {
  position: relative;
  float: left;
  color: #333;
}
.w-nav-overlay {
  position: absolute;
  display: none;
  top: 100%;
  left: 0;
  right: 0;
  width: 100%;
}
.w-layout-grid {
  display: -ms-grid;
  display: grid;
  grid-auto-columns: 1fr;
  -ms-grid-rows: auto auto;
  grid-template-rows: auto auto;
  grid-row-gap: 16px;
  grid-column-gap: 16px;
}
.footer-grid,
.hero-grid,
.portfolio-grid {
  -ms-grid-rows: auto;
  grid-template-rows: auto;
}
h1 {
  margin: 10px 0;
  font-size: 50px;
  line-height: 70px;
}
.main-button,
h2 {
  margin-top: 10px;
}
.main-button,
.project-card img,
h2 {
  margin-bottom: 10px;
}
h2 {
  font-size: 45px;
  line-height: 50px;
  text-transform: capitalize;
}
a:hover {
  color: #578ba6;
}
.body {
  background-color: #000;
  cursor: auto;
}
.hero-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 100vh;
  padding: 40px 5%;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  border-bottom: 5px solid #d3d3d3;
}
.hero-buttons,
.hero-content {
  display: -webkit-box;
  display: -ms-flexbox;
}
.container-large {
  max-width: 1300px;
  padding-right: 10px;
  padding-left: 10px;
}
.hero-content {
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
}
.hero-image {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}
.circle-background {
  overflow: hidden;
  width: 450px;
  height: 450px;
  border-radius: 600px;
  background-color: #d3d3d3;
  -o-object-fit: cover;
  object-fit: cover;
}
.heading {
  text-transform: uppercase;
}
.footer-text-link,
.main-button,
.main-button.margin {
  text-transform: capitalize;
}
.hero-buttons {
  display: flex;
  padding-top: 20px;
  padding-bottom: 20px;
}
.main-button {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  min-height: 48px;
  min-width: 172px;
  padding: 12px 32px;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  border: 1px solid #d3d3d3;
  background-color: #000;
  -webkit-transition: color 0.3s, -webkit-box-shadow 0.3s;
  transition: color 0.3s, box-shadow 0.3s, -webkit-box-shadow 0.3s;
  -o-transition: color 0.3s, box-shadow 0.3s;
  color: #fff;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  letter-spacing: 1.5px;
}
.main-button:hover {
  -webkit-box-shadow: 0 1px 20px 15px hsla(0, 0%, 82.8%, 0.14);
  box-shadow: 0 1px 20px 15px hsla(0, 0%, 82.8%, 0.14);
  color: #000;
}
.main-button.margin {
  margin-left: 40px;
  border-color: #d3d3d3;
}
.button-line {
  position: absolute;
  left: -27.389px;
  width: 48px;
  height: 1px;
  background-color: #d3d3d3;
}
.button-text {
  color: #fff;
  font-size: 15px;
}
.section {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #141414;
}
.heading-wrapper {
  display: block;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.portfolio-wrapper {
  padding-top: 20px;
  padding-bottom: 20px;
}
.portfolio-grid {
  margin-bottom: 0;
  -webkit-column-count: 2;
  -moz-column-count: 2;
  column-count: 2;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
  -webkit-column-rule-style: none;
  -moz-column-rule-style: none;
  column-rule-style: none;
  -webkit-column-rule-width: 0px;
  -moz-column-rule-width: 0px;
  column-rule-width: 0px;
}
.navbar-no-shadow {
  border-bottom: 1px solid #363636;
}
.navbar-no-shadow-container {
  z-index: 5;
  width: 100%;
  max-width: 1280px;
  padding: 20px;
  background-color: transparent;
}
.container-regular {
  width: 100%;
  max-width: 1260px;
  min-height: 30px;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
}
.footer-grid {
  -ms-grid-columns: 2fr 1fr 1fr 1fr;
  grid-template-columns: 2fr 1fr 1fr 1fr;
}
.footer-content-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}
.footer-text-link {
  margin-bottom: 5px;
  color: #fff;
}
@media screen and (max-width: 991px) {
  .w-container {
    max-width: 728px;
  }
  .circle-background {
    width: auto;
  }
  .heading {
    font-size: 30px;
    line-height: 50px;
  }
  .hero-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: start;
    -ms-flex-align: start;
    align-items: flex-start;
  }
  .main-button.margin {
    margin-left: 0;
  }
}
@media screen and (max-width: 767px) {
  .w-nav-brand {
    padding-left: 10px;
  }
  .hero-grid,
  .portfolio-grid {
    -ms-grid-columns: 1fr;
    grid-template-columns: 1fr;
  }
  .hero-grid {
    -ms-grid-rows: auto auto;
    grid-template-rows: auto auto;
  }
  .hero-content {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .circle-background {
    height: 350px;
  }
  .heading {
    text-align: center;
  }
  .hero-buttons {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .navbar-brand {
    padding-left: 0;
  }
}
@media screen and (max-width: 479px) {
  .w-container {
    max-width: none;
  }
  .heading-wrapper,
  .hero-buttons {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
  }
  h1 {
    font-size: 40px;
    line-height: 50px;
  }
  h2 {
    font-size: 35px;
    line-height: 40px;
  }
  .circle-background {
    height: 250px;
  }
  .hero-buttons {
    -ms-flex-direction: column;
    flex-direction: column;
  }
  .main-button {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    font-size: 12px;
    line-height: 16px;
  }
  .main-button.margin {
    margin-top: 40px;
    margin-left: 0;
    padding-right: 15px;
    padding-left: 15px;
  }
  .button-line {
    width: 35px;
  }
  .heading-wrapper {
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
  .portfolio-wrapper {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .portfolio-grid {
    -webkit-column-count: 1;
    -moz-column-count: 1;
    column-count: 1;
  }
  .footer-grid {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -ms-grid-columns: 2fr;
    grid-template-columns: 2fr;
  }
  .footer-content-wrapper {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
  }
}
#w-node-_3a48c09e-680a-e828-0136-98b7a83492d5-b32510f0 {
  -ms-grid-row-align: center;
  align-self: center;
  -ms-grid-column-align: center;
  justify-self: center;
}
hr {
  border-bottom: 4px solid #d3d3d3;
}
#project-container {
  display: -ms-grid;
  display: grid;
  grid-gap: 1rem;
  -ms-grid-columns: minmax(0, 1fr);
  grid-template-columns: repeat(1, minmax(0, 1fr));
}
@media (min-width: 768px) {
  #project-container {
    -ms-grid-columns: minmax(0, 1fr) 1rem minmax(0, 1fr);
    grid-template-columns: repeat(2, minmax(0, 1fr));
  }
}
@media (min-width: 1024px) {
  #project-container {
    -ms-grid-columns: minmax(0, 1fr) 1rem minmax(0, 1fr) 1rem minmax(0, 1fr);
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
}
.project-card {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgb(31 31 31);
  padding: 15px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}
.project-card img {
  width: 100%;
  height: 200px;
  -o-object-fit: contain;
  object-fit: contain;
  border-radius: 4px;
}
.project-card h2 {
  font-size: 18px;
  font-weight: 700;
  margin-top: 0;
}
.project-card p {
  color: #b6b6b6;
  margin: 8px 0;
}
#load-more-button,
.project-card button {
  background-color: #007bff;
  color: #fff;
  cursor: pointer;
}
.project-card .tech-used {
  color: #007bff;
  margin-top: 10px;
  margin-bottom: 10px;
}
.project-card button {
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
#load-more-button:hover,
.project-card button:hover {
  background-color: #0056b3;
}
#load-more-button {
  display: block;
  margin: 20px auto;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  -webkit-transition: background-color 0.3s;
  -o-transition: background-color 0.3s;
  transition: background-color 0.3s;
}
